/* Light mode variable overrides */
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #24244D;
    --md-default-bg-color: #f3f5fb;
    --md-accent-a-color: #7c5cff;
    --md-accent-fg-color: #00bad6;
    --md-typeset-a-color: #7c5cff;
    --md-code-bg-color: #E9E9F2;
}
/* Dark mode variable overrides */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #24244D;
    --md-default-bg-color: #0b0d12;
    --md-accent-a-color: #7c5cff;
    --md-accent-fg-color: #00bad6;
    --md-typeset-a-color: #7c5cff;
    --md-shadow-z2:   0 0.15rem 0.4rem #ffffff1a,
  0 0 0.05rem #ffffff26;
  --md-code-bg-color: #2E2E3D69;
}

.md-typeset h1 {
    color: var(--accent);
}

.md-typeset h1,
.md-typeset h2 {
    font-weight: 500;
}

.md-typeset h3 {
    color: var(--accent);
}

.md-typeset h4 {
    font-size: 1.15em;
}

.md-typeset h3+blockquote {
    margin-top: -.5em;
}

.md-typeset h3+h4+p {
    margin-top: -1em;
}

[dir="ltr"] .md-typeset ol li ul {
    margin-left: 1.5em;
}

[dir="ltr"] .md-typset ol, [dir="ltr"] .md-typeset ul {
  margin-left: 2em;
}

[dir="ltr"] .md-typeset blockquote {
    border-left: .2rem solid var(--md-accent-a-color);
    color: var(--md-default-fg-color--light);
}

[dir="ltr"] .md-header__title {
    margin-left: unset;
}

.md-typeset #resume ul:not([hidden]) {
    column-count: 3;
}

.md-typeset #api ul:not([hidden]) {
    column-count: 2;
}

#resume li::marker {
    content: "";
}

.md-typeset .twemoji {
    color: var(--md-typeset-a-color);
}

.md-clipboard::after {
    background-color: var(--md-typeset-color);
}
@media screen and (max-width: 40em) {
    .md-typeset #resume ul:not([hidden]) {
        column-count: 2;
    }
}

@media screen and (max-width: 25em) {
    .md-typeset #resume ul:not([hidden]) {
        column-count: 1;
    }
}

.bump {
    display: block;
    margin-top: -1em;
}

.indent {
    margin-left: 1em;
}

.icons {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-around;
    font-size: 1.5em;
}

.icons a .twemoji{
    color: var(--accent);
}

li>span {
    color: var(--md-default-fg-color--lighter);
}

.md-typeset .md-button--primary {
    background-color: var(--md-accent-a-color);
    border-color: var(--md-accent-a-color);
}

.md-typeset .md-button--primary .twemoji {
    color: var(--md-primary-bg-color);
}

h1 .md-button--primary {
    float: right;
    margin: 0 .5em;
    font-size: .5em;
}

.highlight span.filename {
    color: var(--md-default-fg-color--light);
    border-bottom: .05rem solid var(--md-default-fg-color--light);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.md-typeset .tabbed-block > .highlight:first-child > .filename {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.md-typeset .tabbed-labels {
    box-shadow: none;
}

.md-typeset #api table:not([class]) {
    border: unset;
    margin-left: 2em;
    font-size: unset;
}

.md-typeset th {
    background: var(--md-code-bg-color);
}

.md-typeset #api th {
    display: none;
}

.md-typeset #api table:not([class]) td {
    border-top: unset;
    border-bottom: .05rem solid var(--md-typeset-table-color);
    padding: .5em 1.25em;
}

.md-typeset #api table:not([class]) tr:last-child td {
    border-bottom: unset;
}

.md-typeset #api table:not([class]) tbody tr:hover {
    background: unset;
}

.md-typeset code {
    padding: .3em;
    border-radius: 5px;
}

.md-search-result__meta {
    background-color: unset;
}

.md-typeset img {
    border-radius: 10px;
}

p>.md-button {
    margin: 0 0 1em 1em;
}

.md-typeset hr {
    border-bottom: .05rem solid var(--md-default-fg-color--light);
}

.md-source__facts {
    display: none;
}

/* Media queries */
@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title~.md-nav__list {
        box-shadow: unset;
    }
    .md-nav--primary .md-nav__item {
        border-top: .05rem solid var(--md-default-fg-color--light);
    }
    .md-nav--primary .md-nav__title {
        background-color: var(--md-primary-fg-color);
        color: var(--md-primary-bg-color);
    }
}

@media screen and (max-width: 59.9375em) {
    .md-nav__source {
        background-color: var(--md-primary-fg-color);
    }
}

@media screen and (max-width: 40em) {
    .swagger-ui .opblock .opblock-summary-path {
        max-width: unset !important;
    }
}

@media screen and (max-width: 30em) {
    .swagger-ui .opblock .opblock-summary-description {
        display: none;
    }
}

/* Search form overrides */
@media screen and (min-width: 60em) {
    .md-search__form {
        background-color: #00000082;
    }
    .md-search__form:hover {
        background-color: #000000c4;
    }
    [data-md-toggle="search"]:checked ~ .md-header .md-search__input::placeholder {
        color: var(--md-primary-bg-color--light);
    }
}

/* Swagger UI overrides */
.swagger-ui .info .title {
    color: var(--md-typeset-color) !important;
}

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
    color: var(--md-typeset-color) !important;
}

.swagger-ui .opblock .opblock-section-header {
    background: var(--md-code-bg-color-light) !important;
}

.swagger-ui,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .parameter__type,
.swagger-ui .tab li button.tablinks,
.swagger-ui .model-title,
.swagger-ui .brace-open,
.swagger-ui .brace-close,
.swagger-ui table.model tr.property-row.required td:first-child,
.swagger-ui table.model tr.property-row td:first-child,
.swagger-ui section.models h4 span,
.swagger-ui a.nostyle,
.swagger-ui a.nostyle:visited, .swagger-ui .model-box-control {
    color: var(--md-typeset-color) !important;
}

.swagger-ui .btn {
    background: var(--md-accent-a-color) !important;
    color: #fff !important;
    border: unset !important;
}

.swagger-ui th {
    background-color: unset !important;
}

.swagger-ui .parameter__name {
    color: var(--md-typeset-color) !important;
    font-size: 15px !important;
    padding-top: 17px;
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
    background-color: var(--md-default-bg-color) !important;
    border: 1px solid var(--md-code-bg-color) !important;
    color: var(--md-default-fg-color--light) !important;
}

.swagger-ui .response-col_status {
    font-size: 12px !important;
    font-weight: 700 !important;
    color: var(--md-typeset-color) !important;
}

.swagger-ui table tbody tr.response td:first-of-type {
    padding: 27px 0 !important;
}



.swagger-ui .tab li {
    display: inline;
}

.swagger-ui .model-box,
.swagger-ui section.models .model-container {
    background: var(--md-code-bg-color) !important;
}

[data-md-color-scheme="slate"] .swagger-ui .model-box {
    background: #191a23 !important
}

[data-md-color-scheme="slate"] .swagger-ui section.models .model-container {
    background: #191a23 !important
}

.swagger-ui .model-example .model-box {
    width: 100%;
    padding: 10px 20px !important;
}

.swagger-ui table.model tr.property-row.required td:first-child,
.swagger-ui table.model tr.property-row td:first-child {
    padding: unset !important;
}

.swagger-ui .response-col_links {
    display: none;
}

.swagger-ui .parameter__name.required span {
    display: none;
}

.swagger-ui .response-control-media-type__accept-message {
    color: var(--md-code-hl-string-color) !important;
}

.swagger-ui .opblock-body pre.microlight {
    background: var(--md-code-bg-color) !important;
}

.swagger-ui span[style="color: rgb(162, 252, 162);"] {
    color: var(--md-code-hl-string-color) !important;
}

.swagger-ui .opblock-tag,
.swagger-ui section.models h4 {
    border-bottom: .05rem solid var(--md-default-fg-color--light) !important;
    margin-bottom: 1em !important;
    padding: unset !important;
}

.swagger-ui section.models {
    border: unset !important;
}

.swagger-ui section.models h4 span {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.swagger-ui .opblock .opblock-summary .view-line-link {
  background-color: var(--md-accent-fg-color);
}

.swagger-ui input[type="text"] {
    background-color: var(--md-code-bg-color) !important;
    border-color: unset !important;
}

.swagger-ui select {
    background-color: var(--md-code-bg-color) !important;
    color: unset !important;
}

.swagger-ui .models-control {
    margin-bottom: 0 !important;
}

.swagger-ui #operations-tag-referrals a.nostyle span {
    text-transform: capitalize;
}

.swagger-ui .operation-tag-content {
    margin: 0 20px;
}

.swagger-ui .model table {
    margin: 0 20px;
}

.information-container.wrapper {
    display: none;
}

.grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
    border: .05rem solid var(--md-typeset-table-color)
}

.md-typeset .grid.cards>ol>li>hr,
.md-typeset .grid.cards>ul>li>hr,
.md-typeset .grid>.card>hr {
    border-bottom: .05rem solid var(--md-typeset-table-color);
}

.grid>ul>li>p>strong {
    margin-left: .5em;
}

@media screen and (min-width: 60em) {
    .md-search__form {
        background-color: #00000082;
    }
}

/* Image overrides for human-task-orchestration.md */

.small-wrap {
    text-align: center;
}

.small-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.inline-wrap p {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.inline-wrap img {
    display: inline;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

li img {
    margin-top: .5em;
}